@import "tailwindcss";
@config "../tailwind.config.ts";

@theme inline {
  --color-about-bg: #f3eeea;
  --color-about-heading: #4c5637;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-prata: var(--font-prata);
  --font-dm-sans: var(--font-dm-sans);
}

:root {
  --navbar-height: 90px;
}

/********************************************/
/* MEDIA QUERIES */
/********************************************/

/********************************************/
/* Maximum Widths */
/********************************************/

/********************************************/
/* BELOW 1550px [Bigger Desktops] */
/********************************************/

@media (max-width: 1550px) {
}

/********************************************/
/* BELOW 1280px [Smaller Desktops] */
/********************************************/

@media (max-width: 1280px) {
}

/********************************************/
/* BELOW 1080px [Landscape Tablets] */
/********************************************/

@media (max-width: 1080px) {
}

/********************************************/
/* BELOW 850px [Portrait Tablets] */
/********************************************/

@media (max-width: 850px) {
  :root {
    --navbar-height: 70px;
  }
}

/********************************************/
/* BELOW 650px [Landscape Phones] */
/********************************************/

@media (max-width: 650px) {
}

/********************************************/
/* BELOW 480px [Portrait Phones] */
/********************************************/

@media (max-width: 480px) {
}

/********************************************/
/* BELOW 380px [Small Portrait Phones] */
/********************************************/

@media (max-width: 380px) {
}

/********************************************/
/* NAVBAR STYLES */
/********************************************/

.nav-item {
  position: relative;
}

.nav-item::before {
  content: attr(data-text);
  font-weight: 600;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-item:hover {
  font-weight: 600;
}
